/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/







body{
    margin:0;
    height:2000px;
    
   
}
.header-btn{
    width:50px;
    height:50px;
    background-color:transparent;
    position:fixed;
    top:10px;;
    right:20px;

    z-index: 21;

    

}

.bar{
    background-color:rgb(212 150 58);
    height:3px;
    width:100%;
    margin:10px 0;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;




}
.bar:nth-child(3){
    margin-bottom:0;
}
.batu2{
    opacity:0;
}
.bar1{
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}
.bar3{
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}
.batu1{
    -webkit-transform:translateY(13px) rotate(45deg) ;
        -ms-transform:translateY(13px) rotate(45deg) ;
            transform:translateY(13px) rotate(45deg) ;
    width:30px;
    
}
.batu3{
  
    -webkit-transform:translateY(-13px) rotate(-45deg);
  
        -ms-transform:translateY(-13px) rotate(-45deg);
  
            transform:translateY(-13px) rotate(-45deg);
    width:30px;
    
}



header{
    position:fixed;
    top:0px;;
    right:-100%;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    width:250px;;

    padding:20px 0;
    padding-top:50px;
    

    border:solid 0.5px gray;
    border-right-color:transparent;
   
    
    z-index: 20;
    -webkit-transition:0.8s;
    -o-transition:0.8s;
    transition:0.8s;
}
.header-toggle{
   
    top:0px;
    right:0%;
   
}
header ul{
    text-align:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style:none;
    padding:0;
    
}
header ul li{
    margin-bottom:30px;
    cursor: pointer;
    position: relative;

    -webkit-transition-duration: 0.5s;

         -o-transition-duration: 0.5s;

            transition-duration: 0.5s;
}
header ul li i{
    position:absolute;
    left:50px;
    bottom:2px;
}
header ul li:hover{
    color:rgb(207, 159, 56);
}
header ul li::after{
    content:'';
    display:inline-block;
    width:70%;
    height:1px;
    background-color:gray;

    position:absolute;
    bottom:-10px;
    left:50%;

    -webkit-transform:translateX(-50%);

        -ms-transform:translateX(-50%);

            transform:translateX(-50%);

}




.main{
font-family: arbotek-rounded, sans-serif;

font-weight: 300;

font-style: normal;
}











.top-wrapper{
    background: url('images/top.jpg') no-repeat fixed;
    background-size: cover;
    background-position:center;
    height:700px;

    display:-webkit-box;

    display:-ms-flexbox;

    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;

 


    
}

.top-wrapper h1{
    margin-top:80px;
    margin-bottom:0px;
    font-size:42px;
    /* font-family:none; */
}
.top-wrapper p{
    text-align:center;
    font-size:26px;
    margin-top:10px;
}



.top-content{
    position: relative;
}
.top-content::before{
  
    font-family: "Font Awesome 5 Free";
    content:'';
    width:60px;
    height:130px;
    background-image:url('image/arrow2.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    display:inline-block;

    
    position: absolute;
    right:50%;
    bottom:-100px;
    -webkit-transform:translateX(50%);
        -ms-transform:translateX(50%);
            transform:translateX(50%);
   
    -webkit-animation-name:arrow;
   
            animation-name:arrow;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    font-size:40px;
    z-index: 10;
}
@-webkit-keyframes arrow{
    0%{
        bottom:-200px;
        
    }
    100%{
        bottom:-300px;
        opacity:0;

        
    }
}
@keyframes arrow{
    0%{
        bottom:-200px;
        
    }
    100%{
        bottom:-300px;
        opacity:0;

        
    }
}



/* about */


.about{
    text-align:center;
   
    margin:100px 0;
    margin-bottom:150px;
}
.about h1{
    font-size:48px;
    position: relative;
    margin-bottom:60px;
    width:250px;
    display:inline-block;
    padding:10px 15px;
    padding-left:170px;
    border-radius:20px;
    font-size:48px;
  
   
}
/* .about h1::before{
    content:'';
    background-image:url('image/pctop.svg');
    background-size:contain;
    background-repeat: no-repeat;
    display:inline-block;
    width:170px;
    height:70px;

    position:absolute;
    
    right:1500px;
    bottom:10px;
    opacity:0;

    transition-duration: 2s;
} */
.titleicon{
    
    display:inline-block;
    width:170px;
    height:70px;

    position:absolute;
    
    right:1220px;
    bottom:10px;
    opacity:0;

    transition-duration: 2s;
}
.iconanimation{
    -webkit-animation-name:titleicon;
   
            animation-name:titleicon;
 
            animation-duration: 2s;
 
            animation-fill-mode: forwards;

            animation-timing-function: cubic-bezier(0, 0.35, 0, 1.08);

    
}

@keyframes titleicon{
    0%{
        right:1220px;
        bottom:10px;
        opacity:0;

    }
    60%{
        right:210px;
    }
    80%{
        right:230px;

    }
    100%{
        right:220px;
        opacity:1;

    }
}





.about-content{
    width:80%;
    margin:0 auto;
}
.about-card{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding:100px 50px;
    -webkit-box-shadow:0px 0px 20px 2px #d0d0d0;
            box-shadow:0px 0px 20px 2px #d0d0d0;
    border-radius:20px;
}
.about-card img{
    min-width:150px;
    width:20%;
    height:auto;
    -webkit-box-shadow:4px 4px 6px 2px rgb(99, 99, 99);
            box-shadow:4px 4px 6px 2px rgb(99, 99, 99);
   
}
.about-text{
    text-align:left;
    padding-left:80px;
   
}
.about-text p{
    position: relative;
}
.about-text p::before{
    
    

    font-family: "Font Awesome 5 Free";
    content:'\f14a';
    position: absolute;
    left:-40px;
    top:5px;
    color:#c16301;


}



/* skills */

.skills{
    text-align:center;
  
    padding-top:10px;
    margin-top:100px;
    margin-bottom:150px;


}
.skills h1{
    margin-top:0;
    font-size:48px;
    position: relative;
    margin-bottom:60px;
    width:250px;
    display:inline-block;
    padding-left:170px;
}
/* .skills h1::before{
    content:'';
    background-image:url('image/skills.svg');
    background-size:contain;
    background-repeat: no-repeat;
    display:inline-block;
    width:170px;
    height:90px;

    position:absolute;
    right:180px;
    bottom:0;
    
} */
.titleicon2{
    
    display:inline-block;
    width:180px;
    height:90px;

    position:absolute;
    
    right:1220px;
    bottom:-10px;
    opacity:0;

    transition-duration: 2s;
}
.iconanimation2{
    -webkit-animation-name:titleicon2;
   
            animation-name:titleicon2;
 
            animation-duration: 2s;
 
            animation-fill-mode: forwards;

            animation-timing-function: cubic-bezier(0, 0.35, 0, 1.08);

    
}

@keyframes titleicon2{
    0%{
        right:1220px;
       
        opacity:0;

    }
    60%{
        right:170px;
    }
    80%{
        right:190px;

    }
    100%{
        right:180px;
        opacity:1;

    }
}









.skills-content{
    background:url('image/service-h.png') no-repeat fixed;
    background-position:center;
    background-size:cover;
    height:300px;
   
    display:-webkit-box;
   
    display:-ms-flexbox;
   
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  
    padding-top:100px;
}
.skill{
    background-color:rgb(221, 138, 13);
    
    width:200px;
    height:200px;
    border-radius:10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-bottom:30px;

}
.skill-content{
    width:190px;
    height:190px;
    border:dashed 1px rgb(255, 255, 255);
    border-radius:10px;
    
    
    
}
.skill i{
    font-size:40px;
    color:#ffffff;
    padding-top:40px;

}
.skill p{
    font-size:10px;
    color:#ffffff;
    padding:0 10px;
    padding-top:15px;

    
    
   

}
.skill h2{
    margin-top:10px;
    position: relative;
    font-size:18px;
    color:rgb(255, 255, 255);
   
   
}


/* works */
.works{
    text-align:center;
    margin-top:60px;
}
.works h1{
    margin-top:0;
    font-size:48px;
    position: relative;
    margin-bottom:60px;
    width:250px;
    display:inline-block;
    padding-left:150px;


}
/* .works h1::before{
    content:'';
    background-image:url('image/works.svg');
    background-size:contain;
    background-repeat: no-repeat;
    display:inline-block;
    width:170px;
    height:70px;

    position:absolute;
    right:200px;
    bottom:0;
    
} */

.titleicon3{
    
    display:inline-block;
    width:170px;
    height:100px;

    position:absolute;
    
    right:1220px;
    bottom:-10px;
    opacity:0;

    transition-duration: 2s;
}
.iconanimation3{
    -webkit-animation-name:titleicon3;
   
            animation-name:titleicon3;
 
            animation-duration: 2s;
 
            animation-fill-mode: forwards;

            animation-timing-function: cubic-bezier(0, 0.35, 0, 1.08);

    
}
@keyframes titleicon3{
    0%{
        right:1220px;
       
        opacity:0;

    }
    60%{
        right:190px;
    }
    80%{
        right:210px;

    }
    100%{
        right:200px;
        opacity:1;

    }
}



.work{
    width:90%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin:0 auto;
    margin-bottom:80px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.works-content{
    /* box-shadow:5px 5px 10px 3px gray; */
    border-radius:20px;
    width:80%;
    margin:0 auto;
    padding:30px 0;
}
.work img{
    width:300px;
    height:150px;
    -webkit-box-shadow: 1px 1px 7px 3px #dedede;
            box-shadow: 1px 1px 7px 3px #dedede;
}
.work-detail{
    width:50%;

   
}


.work-detail h2{
    margin:0;
}
.work-detail p{
    margin-top:0;
}
.work-detail p:nth-child(3){
    font-family:none;
    font-size:14px;
    margin-top:0;
    padding:0 20px;
    text-align:left;
}
.work-detail h4{
    margin:0 auto;
    width:200px;
    padding:5px 0;
    background-color:white;
    color:rgb(255, 65, 97);
    border-radius: 30px;
    border:solid 1px rgb(255, 65, 97);
    margin-bottom:20px;
    overflow: hidden;

    position: relative;
    z-index: 5;
    -webkit-transition:2s;
    -o-transition:2s;
    transition:2s;

   

}
h4:hover{
    color:white;
}
.work-detail h4::before{
    content:'';
    width:20px;
    height:20px;
    background-color:rgb(255, 65, 97);
    -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);

    position:absolute;
    top:0;
    left:-25px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: -1;
}
.work-detail h4::after{
    content:'';
    width:20px;
    height:20px;
    background-color:rgb(255, 65, 97);
    -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);

    position:absolute;
    bottom:0;
    right:-25px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: -1;
}
.work-detail h4:hover::before{
    -webkit-transform:scale(15);
        -ms-transform:scale(15);
            transform:scale(15);
}
.work-detail h4:hover::after{
    -webkit-transform:scale(15);
        -ms-transform:scale(15);
            transform:scale(15);
}
.work-detail a{
   text-decoration: none;
   
   

}



/* contact */
.contact h1{
    margin-top:0;
    font-size:48px;
    
    margin-bottom:60px;
    width:250px;
    display:inline-block;
    
}
.contact label{
    position:relative;
    margin-left:10%;
   
}
.contact label::before{
    font-family: "Font Awesome 5 Free";
    content:'\f14a';
    position: absolute;
    left:-20px;
    top:5px;
    


}
.form-content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-bottom:20px;
}
.form-content input{
    margin-right:10%;
    margin-left:auto;
    
    width:300px;
}
.form-content textarea{
    margin-right:10%;
    margin-left:auto;
    width:400px;
    height:200px;
}
#form-btn{
    background-color:rgb(255, 255, 255);
    color:orange;
    border-radius:20px;
    font-size:18px;
    border:none;
    margin-top:30px;
 
    padding:6px 20px;
    overflow: hidden;
    position: relative;
    z-index: 6;
    border:1px solid orange;
    -webkit-transition:1.5s;
    -o-transition:1.5s;
    transition:1.5s;
 
}

.contact{
    width:80%;
    margin:0 auto;
    text-align:center;
    margin-top:50px;
    margin-bottom:200px;
}



#form-btn:hover{
    color:rgb(255, 255, 255);
}
#form-btn::before{
    content:'';
    width:20px;
    height:20px;
    background-color:orange;
    -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);

    position:absolute;
    top:0;
    left:-25px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: -1;
}

#form-btn:hover::before{
    -webkit-transform:scale(15);
        -ms-transform:scale(15);
            transform:scale(15);
}





@media(max-width:1000px){
    .skills-content{
        height:600px;
    }
   
    .skill {
        width:40%;
        min-width:300px;
    }
    .skill-content{
       width:97%;
    
        
    }
   
}
@media(max-width:900px){
   
    .work{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
        margin-bottom:180px;
    }
    .reverse{
       
        -webkit-box-orient:vertical;
       
        -webkit-box-direction:normal;
       
            -ms-flex-direction:column;
       
                flex-direction:column;
    }
    .works-content{
        width:100%;
    }
    .work img{
        margin:0 auto;
    }
    .work-detail{
        width:100%;
        position: relative;
       
    }
    .work-detail a{
        position:absolute;
        bottom:-230px;
        left:50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .work-detail p:nth-child(3){
       margin-bottom:30px;
       text-align:center;
    }



    .form-content{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom:20px;
    }
    .form-content input{
        margin:0 auto;
        
        width:300px;
    }
    .form-content textarea{
        margin:0 auto;
        width:300px;
        height:200px;
    }
    .contact label{
        margin-left:0;
        margin-bottom:20px;
       
    }
    .contact label::before{
        font-family: "Font Awesome 5 Free";
        content:'\f14a';
        position: absolute;
        left:40px;
        top:5px;
        
    
    
    }
    
   
}


@media(max-width:700px){
    .about-content{
      
       width:90%;
    }
    .about-card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .about-card img{
        border-radius:100px;;
        margin-bottom:30px;
    }
    .about-text{
        padding:0;
    }
    .about-text p{
        margin-left:30px;
    }
    .about h1{
        margin-bottom:20px;;
    }





    .skill {
        width:90%;
    }
    .skills-content{
        height:1100px;
    }



   

}

@media(max-width:450px){
    .skill {
        width:90%;
    }
    .skill-content{
        width:97%;
        
        
    }
    
    .skills-content{
        padding-top:60px;
       
        
    }

    .about-card{
        padding:20px 40px;
    }





   
    .about h1{
        padding-left:80px;
    }
    .skills h1::before{
       
        width:80px;
        height:40px;
    
        position:absolute;
        right:180px;
        bottom:5px;
    }
    .skills h1{
        padding-left:50px;
    }
    .works h1::before{
       
        width:80px;
        height:40px;
    
        position:absolute;
        right:200px;
        bottom:5px;
    }
    .works h1{
        padding-left:50px;
        margin-bottom:0;
    }


    .titleicon{
        width:100px;
        height:auto;
    }
    .titleicon2{
        width:100px;
        height:auto;
        bottom:0;
    }
    .titleicon3{
        width:100px;
        height:auto;
        bottom:0;
    }
    
}